#page{
	width: 400px;
	margin: 0 auto;
}


.carousel{
	position: relative;
	overflow: hidden;
	height: 200px;
}

.carousel .back-button, .carousel .next-button{
	position: absolute;
    top: 45%;
    display: block;
    width: 30px;
    z-index: 1;
    color: #FFFFFF;
    font-weight: bold;
}

.carousel .back-button{
    left: 1px;
}

.carousel .next-button{
    right: 1px;
}

.carousel ul{
	overflow: hidden;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
}

.carousel li{
	list-style-type: none;
	float: left;
	margin: 0px;
}

